@font-face {
    font-family: 'JoysInter';
    src: url('./woff2/joys-inter-300.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'JoysInter';
    src: url('./woff2/joys-inter-400.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'JoysInter';
    src: url('./woff2/joys-inter-500.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'JoysInter';
    src: url('./woff2/joys-inter-600.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'JoysInter';
    src: url('./woff2/joys-inter-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'JoysInter';
    src: url('./woff2/joys-inter-800.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

.font-inter {
    font-family: 'JoysInter', sans-serif;
    font-weight: 400;
}