@font-face {
    font-family: 'JoysTahrir';
    src: url('./woff2/joys-tahrir-300.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'JoysTahrir';
    src: url('./woff2/joys-tahrir-400.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'JoysTahrir';
    src: url('./woff2/joys-tahrir-500.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'JoysTahrir';
    src: url('./woff2/joys-tahrir-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'JoysTahrir';
    src: url('./woff2/joys-tahrir-800.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'JoysTahrir';
    src: url('./woff2/joys-tahrir-900.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

.font-tahrir {
    font-family: 'JoysTahrir', sans-serif;
    font-weight: 400;
}
