@font-face {
    font-family: 'JoysIranYekanX';
    src: url('./woff2/joys-iran-yekan-x-100.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'JoysIranYekanX';
    src: url('./woff2/joys-iran-yekan-x-200.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'JoysIranYekanX';
    src: url('./woff2/joys-iran-yekan-x-300.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'JoysIranYekanX';
    src: url('./woff2/joys-iran-yekan-x-400.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'JoysIranYekanX';
    src: url('./woff2/joys-iran-yekan-x-500.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'JoysIranYekanX';
    src: url('./woff2/joys-iran-yekan-x-600.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'JoysIranYekanX';
    src: url('./woff2/joys-iran-yekan-x-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'JoysIranYekanX';
    src: url('./woff2/joys-iran-yekan-x-800.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'JoysIranYekanX';
    src: url('./woff2/joys-iran-yekan-x-900.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'JoysIranYekanX';
    src: url('./woff2/joys-iran-yekan-x-950.woff2') format('woff2');
    font-weight: 950;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'JoysIranYekanX';
    src: url('./woff2/joys-iran-yekan-x-1000.woff2') format('woff2');
    font-weight: 1000;
    font-style: normal;
    font-display: swap;
}
.font-iran-yekan-x {
    font-family: 'JoysIranYekanX', sans-serif;
    font-weight: 400;
}
